<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Real_Estate42.Properties.Settings.AccountsConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\Nermeen Kamal\OneDrive\Desktop\Accounts.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="Real_Estate42.Properties.Settings.Real_Estate_DataConnectionString"
            connectionString="Data Source=DESKTOP-3LSRRN7\MSSQLSERVER9;Initial Catalog=&quot;Real Estate Data&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Real_Estate42.Properties.Settings.Real_Estate47ConnectionString"
            connectionString="Data Source=NERMEEN;Initial Catalog=&quot;Real Estate47&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>